body {
    background-color: rgb(31, 67, 189);
}

.headers {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

p {
    color: white;
    background-color: darkblue;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin-left: 28%;
    border: 1px solid black;
    font-size: 15px;
    

}
.intro {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.play-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

.guess-pass-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.final-answer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.scores {
    display: flex;
    justify-content: center;
}

h2 {
    background-color: rgb(80, 103, 218);
    display: flex;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-left: 2.5em;
    margin-right: 2.5em;
    font-size: 10pt;
}

.footer {
    display: block;
    width: 100%;
    color: white;
    background-color: rgb(60, 60, 100);
    border: 3px solid black;
    text-align: center;
    font-size: 40px;
}
/* adjusted my header display so it is similar to the example given */

.index-footer {
    display: block;
    width: 100%;
    color: white;
    background-color: rgb(60, 60, 100);
    border: 3px solid black;
    text-align: center;
    font-size: 40px;
    margin-top: 150px;
}
/* ran into issues with positioning index.html footer */

.final-footer {
    display: block;
    width: 100%;
    color: white;
    background-color: rgb(60, 60, 100);
    border: 3px solid black;
    text-align: center;
    font-size: 40px;
    margin-top: 550px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px 5px;
    width: 1200px;
    margin: 0 auto;
    grid-auto-flow: row;
    grid-template-areas: 
    "Category-1 Category-2 Category-3 Category-4 Category-5 Category-6"
    "question-1 question-2 question-3 question-4 question-5 question-6"
    "question-7 question-8 question-9 question-10 question-11 question-12"
    "question-13 question-14 question-15 question-16 question-17 question-18"
    "question-19 question-20 question-21 question-22 question-23 question-24"
    "question-25 question-26 question-27 question-28 question-29 question-30"
    ". . . . . .";
}
/* Added correct spacing to my container grid layout. */
/* Finally figured out how to center my grid */

.container div:hover {
    transform: scale(1.1);
    border-color: gold;
}
/* Added hover effect to my .container elements */

.Category-1 { grid-area: Category-1;
    color: white;
}

.Category-2 { grid-area: Category-2; 
    color: white;
}

.Category-3 { grid-area: Category-3;
    color: white;
}

.Category-4 { grid-area: Category-4; 
    color: white;
}

.Category-5 { grid-area: Category-5; 
    color: white;
}

.Category-6 { grid-area: Category-6; 
    color: white;
}

.question-1 {
    color: gold;
}

.question-2 {
    color: gold;
}

.question-3 {
    color: gold;
}

.question-4 {
    color: gold;
}

.question-5 {
    color: gold;
}

.question-6 {
    color: gold;
}

.question-7 {
    color: gold;
}

.question-8 {
    color: gold;
}

.question-9 {
    color: gold;
}

.question-10 {
    color: gold;
}

.question-11 {
    color: gold;
}

.question-12 {
    color: gold;
}

.question-13 {
    color: gold;
}

.question-14 {
    color: gold;
}

.question-15 {
    color: gold;
}

.question-16 {
    color: gold;
}

.question-17 {
    color: gold;
}

.question-18 {
    color: gold;
}

.question-19 {
    color: gold;
}

.question-20 {
    color: gold;
}

.question-21 {
    color: gold;
}

.question-22 {
    color: gold;
}

.question-23 {
    color: gold;
}

.question-24 {
    color: gold;
}

.question-25 {
    color: gold;
}

.question-26 {
    color: gold;
}

.question-27 {
    color: gold;
}

.question-28 {
    color: gold;
}

.question-29 {
    color: gold;
}

.question-30 {
    color: gold;
}
/* Added styles to my constainer elements. There is 
probably a less tedious way to do so but this will work for now.
*/ 

.container div {
    padding: 10px;
    border: 3px solid rgb(0, 0, 0);
    text-align: center;
    background-color: blue;
    font-size: 40px;
}
/* Added basic styles to my container grid layout. */

.container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}
/* Centered my .container div */

.final-category {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    margin-bottom: 50px;
    margin-left: 31%;
    background-color: rgb(30, 103, 240);
    border: 3px solid black;
    color: white;
    font-size: 20px;
    
}